*{
    font-family: Courier, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: rgb(10, 10, 10);
    font-family: "Comic Sans";
    background-color: rgb(250, 250, 246);
}

h2 {
    background-color: chartreuse;
}

body {
    background-color: rgb(59, 59, 59);

}

main {
    background-color: rgb(100, 96, 89);
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 13px 13px 15px rgb(155, 59, 59);
}